.tituloHorario{
    text-align: center;
}

/*Tamaño de imagenes de coaches*/
.coachesImg{
    width: 320px;
    padding: 20px;
}

/*Alinea los nombres de los coaches*/
.coachesAline{
    padding: 20px;
}


.subtitloCoach{
    font-weight: 700;
    font-size: 25px;
    opacity: 70%;
}

.nombreCoach{
    font-size: 40px;
}

/*Tamaño de imagen de los coaches 
en la sección de horarios*/
.coachesImgHorario{
    width: 600px;
    padding: 20px;
}

/*Personalización de las tablas para los horarios*/
.agendaTabla{
    width: 100%;
    color: white;
    border: 2px solid #ffffff;
    font-size: 25px;
    font-weight: 700;
}

/*Ajuste de celdas de la tabla*/
.agendaTabla th, .agendaTabla td {
    border: 1px solid #ffffff;
    padding: 10px;
}

/*Encabezado de la tabla en negrita y mayusculas*/
.agendaTabla th {
    font-weight: bold;
    text-transform: uppercase;
}

.horas{
    text-align: center;
}
  
