.login-container {
    display: flex;
    height: 100vh;
  }
  
  /* Sección formulario */
  .form-section {
    background-color: #1c1c1c;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .titulo{
   
   font-size: 4rem;
  }
  /* Inputs */
  .input-field {
    margin-top: 15px;
    background-color: #888;
    border: none;
    border-radius: 20px;
    color: white;
   

    padding: 10px 20px;
    width: 85%;
  }
  
  .input-field::placeholder {
    color: white;
  }
  
  .btn-custom {
        border: none;
        padding: 10px 28px; 
        border-radius: 10px;
        width: 30%;
        margin-right: 8%;   
 }
    
 .link{
    color: white;
    margin-left: 10%;
 }
  /* Imagen */
  .login-image {
    flex: 1;
    overflow: hidden;
  }
  
  .login-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  