/* seccion estilos planes*/

.pricing-card {
    padding: 30px;
    border-radius: 60px;
    color: #fff;
    margin: 20px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transition: transform 0.3s;
  }
  .pricing-card:hover {
    transform: scale(1.05);
  }

  .abyss {
    background: linear-gradient(145deg, #544D32, #7C7144, #423F31);
  }
  .steel {
    background: linear-gradient(145deg, #6C590D, #CFB550, #5B4C0E);
  }
  .flame {
    background: linear-gradient(145deg, #483310, #D78425,#483310);
  }
  .price {
    font-size: 3rem;
    margin: 30px 0;
  }
 
  .btn-custom {
    padding: 15px 20px;
    font-size: 20px;
  }

  .signopesos {
    font-size: 6rem; 
    color: #ccc;     
    margin-right: 5px; 
    vertical-align: middle;
  }
  .valor {
    font-size: 3rem;
    position: relative;
    top: 10px; 
  }
  .tituloplan {
    font-size: 2.5rem;
  }
  .tiempo{
    position: relative;
    top: 20px; 
  }
  .info{
    position: relative;
    top:-20px; 
  }

  /* Sección Servicios */

.servicios-section {
    padding: 50px 10%;
    background-color: #111;
    color: white;
}

.titulo-servicios {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 2rem;
}

.servicio {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.servicio-img {
    
    width:310px;
    height: 170px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.servicio-img h3 {
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
   
}

.servicio p {
    flex: 1;
    margin: 0;
    text-align: justify;
}

  /* Sección metodos de pago */

.metodos-pago {
  background-color: #1a1a1a;
  text-align: center;
  padding: 50px 20px;
  position: relative;
}

.metodos-pago h2 {
  color: white;
  margin-bottom: 40px;
  font-weight: bold;
}

.tarjetas {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.tarjetaC {
  color: white;
  margin-top: -50px;

}

.tarjetaD {
  color: white;
  margin-top: 50px;
 
} 

.tarjeta p{
  margin-left: -50px;
  margin-top: -150px;
  font-size: 1.8rem;
}

.tarjeta2 p{

margin-left: -50px;
  margin-top: -70px;
  font-size: 1.8rem;
}

.whatsapp {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}


.whatsapp p {
 
  color: white;
  font-size: 14px;
  text-align: left;
}
