/*css para pagina proteina*/

/* Contenedor de la tarjeta de producto 1-3*/
.product-card {
    background-color:  rgb(29, 29, 29); 
    padding: 2rem;
    display: flex;
    flex-direction: row; /* para alinear imagen y texto horizontalmente */
    align-items: center; /* centra verticalmente */
    justify-content: flex-start; /* alinea a la izquierda */
    gap: 3rem; /* espacio entre imagen y texto */
  }
  
  /* Contenedor que mantiene la imagen y el fondo */
  .product-image-container {
    position: relative;
    width: 700px; 
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  /* Imagen principal encima del fondo */
  .image-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .image-layer img {
    width: 100%;
    height: auto;
    
  }
  .product-info {
    max-width: 400px;
  }

  .product-info h3 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .product-info p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .btn {
    padding: 0.5rem 1.5rem;
  }

  /* Contenedor de la tarjeta de producto 2*/
 
.seccion-creatina {
    padding: 11rem 0;
    background-color: #141414; 
    color: #ffffff;
  }
  
  .seccion-creatina h3 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  .descripcion-creatina {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 450px;
  }
  
  .contenedor-boton {
    display: flex;
    justify-content: center; /* centro en móviles*/
  }
  
  @media (min-width: 768px) {
    .contenedor-boton {
      justify-content: flex-start; /* alineado a la izquierda en desktop (no se si sirva) */
    }
  }
  
  .boton-comprar {
    font-weight: 700;
    padding: 0.8rem 2rem;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  .imagen-creatina {
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
  }
  
  .imagen-creatina img {
    max-width: 700px;
    height: 650px;
  }
  

  