html{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(29, 29, 29);
    margin: 0px;
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.logo{
    width: 80px;
}

.impfondo {
    display: block;
    position: relative;		
    width: 100%;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.419);
}

.alinear{
    vertical-align: middle;
}
  
.sobreImgAbyss{
    font-size: 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    padding: 5px;
    width: 100%;
}
.sobreImgTexto{
    color: rgba(255, 255, 255, 0.805);
    text-align: center;
    position: absolute;
    top: 70%;
    padding: 5px;
    width: 100%;
}

.imgNav{
    width: 40px;
    opacity: 80%;
}

footer{
    text-align: center;
    background: rgb(0, 0, 0);
    padding: 10px;
    margin: 0px;
}
.footerderechos{
    color: #878787;
   }
footer a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

footer img{
    vertical-align: middle;
    width: 80px;
}

.redes{
    vertical-align: middle;
}
